<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="project/angular.min.js"></script>
    <script type="text/javascript" src="project/app.js" ></script>
    <link rel="stylesheet" href="project/styles/bootstrap.min.css">
    <link rel="stylesheet" href="project/styles/styles.css">
    <title>Narrow Down Your Menu Choice</title>
  </head>
<body ng-controller = "NarrowItDownController as ctrl">
   <div class="container" >
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input ng-model="searchTerm" type="text" placeholder="search term eg:chicken" class="form-control">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="ctrl.menusearch(searchTerm)">Narrow It Down For Me!</button>
    </div>
  </div>
    <div class="" ng-if="ctrl.found.length ===0">
      No items found
    </div>
    <!-- found-items should be implemented as a component -->
      <found-items  items="ctrl.found" on-remove="ctrl.removeItem(index)"></found-items>
</body>
</html>
